on:
  push:
    branches:
      - main

name: Deploy String boot to Amazon EC2
env:
  PROJECT_NAME: ringcard_deploy
  working-directory: ./ringcard_backend
  JWT_PROPERTY_SECRET: ${{ secrets.JWT_PROPERTY_SECRET }}
  JWT_PROPERTY_EXPIRATION_TIME : ${{ secrets.JWT_PROPERTY_EXPIRATION_TIME }}
  JWT_PROPERTY_COOKIE_NAME: ${{ secrets.JWT_PROPERTY_COOKIE_NAME }}
  COOKIE_NAME: ${{ secrets.COOKIE_NAME }}

jobs:
  deploy:
    name: DEPLOY
    runs-on: ubuntu-18.04
      

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew
        working-directory: ${{ env.working-directory }}
        shell: bash

#      - name: gradle wrapper
#        run: gradle wrapper --gradle-version 7.5
#        working-directory: ${{ env.working-directory }}
#        shell: bash

      - name: Build with Gradle
        run: gradle build
        working-directory: ${{ env.working-directory }}
        shell: bash



      - name: Make zip file
        run: zip -qq -r ./$GITHUB_SHA.zip .
        shell: bash

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: $
          aws-secret-access-key: $
          aws-region: $

      - name: Upload to S3
        run: aws s3 cp --region ap-northeast-2 ./$GITHUB_SHA.zip s3://ringcardbucket/$PROJECT_NAME/$GITHUB_SHA.zip

      - name: Code Deploy
        run: aws deploy create-deployment --application-name ringcard --deployment-config-name CodeDeployDefault.OneAtATime --deployment-group-name dev --s3-location bucket=ringcard-deploy,bundleType=zip,key=$PROJECT_NAME/$GITHUB_SHA.zip
